@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
root{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: black;
}
table
        {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }
        table td
        {
            padding: 5px;
        }