@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');
:root{
    --topheight: 10vh;
}
*{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: black;
}
body{
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

table
        {
            margin-top: 5vh;
            margin-left: auto;
            margin-right: auto;
            border: 1px ridge black;
            border-collapse: collapse;
            background-color: white;
            border-collapse: collapse;
        }
        table td
        {
            border-radius: 20px;
            padding: 5px;
            border: 1px solid black;
        }

button{
    display: inline-block;
    padding:0.5em 3em;
    border:0.16em solid black;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: 600;
    color: black;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
button:hover{
    filter: blur(.5px);
    border-radius: 10px;
}
.butty{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid black;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: 600;
    color: black;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
.butty:hover{
    filter: blur(.5px);
    border-radius: 10px;
}
.topcont{
    background-color: white;
    width: 100vw;
    height: var(--topheight);
    margin-top: -10px;
}
.top{
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 2vh;
    border-radius: 20px;
    border: 3px ridge white;
    height: var(--topheight);
    filter: drop-shadow(5px 5px 5px black)
}

.top-logo{
    width: auto;
    height: var(--topheight);
    margin-left: 5%;
}
.toputil{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%; 
    background-color: white;
    border-radius: 30px;
    padding-left: 5%;
    padding-top:10px;
    padding-bottom: 10px;
    border: 2px solid black;
}
.tabledrop{
    filter: drop-shadow(5px 5px 5px black)
}
.tablecont{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 50px;
    background-color:white;
    margin-top: 10vh;
    border-radius: 30px;

}
hr {
    border: 10px solid black;
    border-radius: 5px;
  }