@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');
:root{
    --topheight: 10vh;
}
*{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: black;
}
body{
    display: absolute;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

table {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-size: 17px;
  }
  
  th {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: black;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #eeeeee;
  }
  
  .tableclass tr:nth-child(1){
    display: none;
}
  .tableclass tr:nth-child(3){
    display: none;
}
.tableclass tr:nth-child(4){
    display: none;
}
          
.tableclass tr td:nth-child(3){
    display: none;
}
.tableclass tr td:nth-child(4){
    display: none;
}
.tableclass tr td:nth-child(5){
    display: none;
}
.tableclass tr td:nth-child(9){
    display: none;
}
.tableclass tr td:nth-child(10){
    display: none;
}
.tableclass tr td:nth-child(11){
    display: none;
}
.tableclass tr td:nth-child(12){
    display: none;
}
.tableclass tr td:nth-child(13){
    display: none;
}
button{
    display: inline-block;
    padding:0.5em 3em;
    border:0.16em solid black;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: 600;
    color: black;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
button:hover{
    filter: blur(.5px);
    border-radius: 10px;
}
.butty{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid black;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: 600;
    color: black;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
.butty:hover{
    filter: blur(.5px);
    border-radius: 10px;
}
.topcont{
    display: flex;
    margin-left: -10px;
    background-color: white;
    width: 100vw;
    height: var(--topheight);
    margin-top: -20px;
}
.top{
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 2vh;
    border-radius: 20px;
    border: 3px ridge white;
    height: var(--topheight);
    filter: drop-shadow(5px 5px 5px black);
    width: 100%;
}

.top-logo{
    width: auto;
    height: 12vh;
    padding-bottom: 50px;
    margin-right: 45%;
}
.output-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.output-top:first-child{
    margin-left: 0;
}
.output-top:last-child{
    margin-right: 0;
}
.null{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    border-radius: 20px;
    border: 0;
    background-color: whitesmoke;
}
.nullbox{
    display: flex;
    align-items: left;
    justify-content: left;
    border: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 40%;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    border-radius: 20px;
}
.custom-box{
    border: 0;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 25vw;
    height: 20vh;
}
.toputil{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%; 
    background-color: white;
    border-radius: 30px;
    padding-left: 5%;
    padding-top:10px;
    padding-bottom: 10px;
    border: 2px solid black;
}
.tabledrop{
    width: 80%;
    padding: 50px;
    background-color:white;
    margin: 10vw;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 5px black)
}
.tablecont{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border: 10px solid black;
    border-radius: 5px;
  }